body {
  background-color: #F4D03F;
  font-family: 'Arial';
  font-size: 18px;
  line-height: 1.3;
}

a { 
  color: inherit; 
  text-decoration: none;
} 

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

.image {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.img {
	border-radius: 20px 120px 20px 120px;
}

.info {
  font-family: 'Monaco';	
  text-align: center;
  color: #283747;
  font-size: 22px;
}

.links {
  	color: #283747;
  	text-align: center;
}


