body {
  background-color: #FFFFFF;
}

.info {
  text-align: center;
  font-family: 'Monaco';
  color: #800080;
}

.image {
	text-align: center;
}

.links {
	font-family: 'Monaco';
  	color: #800080;
  	text-align: center;
}

